.add-taco {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 80%;
    border: 1px solid black;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    z-index: 1;
}

.navbtn {
    position: absolute;
    bottom: 0;
    width: 90px;
    padding: 8px 0;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}

.navbtn.prev {
    left: 0;
    background: #f1f1f1;
}

.navbtn.prev:not(.disabled):hover {
    background: #dddddd;
}

.navbtn.next {
    right: 0;
    background: #4caf50;
    color: white;
}

.navbtn.next:not(.disabled):hover {
    background: #4a964d;
}

.navbtn.disabled {
    opacity: 0.5;
    cursor: default;
}

ingredient-view {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 300px;
    width: 300px;
    height: 50%;
    transform: translate(-50%, -50%);
}

.slide-in-up {
    animation: slide-in-up 0.5s forwards;
    -webkit-animation: slide-in-up 0.5s forwards;
}

@keyframes slide-in-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.slide-in-down {
    animation: slide-in-down 0.5s forwards;
    -webkit-animation: slide-in-down 0.5s forwards;
}

@keyframes slide-in-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.slide-out-up {
    animation: slide-out-up 0.5s forwards;
    -webkit-animation: slide-out-up 0.5s forwards;
}

@keyframes slide-out-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.slide-out-down {
    animation: slide-out-down 0.5s forwards;
    -webkit-animation: slide-out-down 0.5s forwards;
}

@keyframes slide-out-down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}