<div class="add-taco">
    <div *ngFor="let cat of categories">
        <div class="container" [ngClass]="{
            'slide-in-down': dynClass[cat] == 'slide-in-down',
            'slide-in-up': dynClass[cat] == 'slide-in-up',
            'slide-out-down': dynClass[cat] == 'slide-out-down',
            'slide-out-up': dynClass[cat] == 'slide-out-up'
        }">
            <ingredient-view [categoryId]="cat"></ingredient-view>
        </div>
    </div>
    <div class="navbtn prev"
         [class.disabled]="curCat == 0"
         (click)="prevCat()">&laquo; Previous</div>
    <div class="navbtn next"
         [class.disabled]="curCat == categories.length - 1"
         (click)="nextCat()">Next &raquo;</div>
</div>