.full {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.tcell {
    display: table-cell;
    vertical-align: middle;
}

.add-taco {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.parentdiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.parentdiv > div {
    position: relative;
    display: inline-block;
}

.parentdiv > .ingview {
    flex-grow: 1;
}

.add-taco .ingnav {
    border-left: 1px solid black;
}

.add-taco:not(.mobile) .ingnav {
    width: 250px;
}

.add-taco:not(.mobile) .menubtn {
    display: none;
}

.add-taco.mobile .ingnav {
    width: 0;
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 2;
    background: white;
}

.add-taco.mobile .ingnav:not(.active) .randomizeBtn {
    display: none;
}

.add-taco.mobile .ingnav.active {
    width: 250px;
}

.menubtn {
    position: absolute;
    left: -5px;
    top: 5px;
    transform: translateX(-100%);
    cursor: pointer;
    z-index: 2;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    z-index: 1;
}

.navbtn {
    position: absolute;
    bottom: 0;
    width: 90px;
    padding: 8px 0;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}

.navbtn.prev {
    left: 0;
    background: #f1f1f1;
}

.navbtn.prev:not(.disabled):hover {
    background: #dddddd;
}

.navbtn.next {
    right: 0;
    background: #3e768c;
    color: white;
}

.navbtn.next:not(.disabled):hover {
    background: #2f515f;
}

.navbtn.disabled {
    opacity: 0.5;
    cursor: default;
}

.catHeader {
    font-size: 20px;
    background: #c4e2e2;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.catHeader.oneAbove {
    border-top: 1px solid black;
}

.catHeader:hover {
    background: #3e768c;
}

.catHeader.selected {
    background: #3e768c;
}

.catHeader.selected:hover {
    backgroundd: #6cda71;
}

.delbtn {
    color: #ad1313;
    cursor: pointer;
    font-weight: bold;
}

ingredient-view {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 300px;
    width: 95%;
    height: 50%;
    transform: translate(-50%, -50%);
}

.randomizeBtn {
    position: absolute;
    width: 100px;
    height: 60px;
    background: #48ad3c;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: table;
    color: white;
    cursor: pointer;
}

.randomizeBtn:hover {
    background: #2d7125;
}

.slide-in-up {
    animation: slide-in-up 0.5s forwards;
    -webkit-animation: slide-in-up 0.5s forwards;
}

@keyframes slide-in-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.slide-in-down {
    animation: slide-in-down 0.5s forwards;
    -webkit-animation: slide-in-down 0.5s forwards;
}

@keyframes slide-in-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.slide-out-up {
    animation: slide-out-up 0.5s forwards;
    -webkit-animation: slide-out-up 0.5s forwards;
}

@keyframes slide-out-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.slide-out-down {
    animation: slide-out-down 0.5s forwards;
    -webkit-animation: slide-out-down 0.5s forwards;
}

@keyframes slide-out-down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}