<div class="wrap full">
    <table class="maintbl full" cellpadding="0">
        <tr>
            <td height="1px">
                <div class="header">
                    <img [src]="images.banner">
                    <div class="btnwrap">
                        <div class="navbtns">
                            <div *ngFor="let nav of navopts"
                                 class="node"
                                 [class.first]="navopts.indexOf(nav) == 0"
                                 [class.selected]="activeNav == nav"
                                 (click)="setNav(nav)">
                                <div class="tcell">{{nav.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" style="position: relative">
                <div class="full">
                    <div *ngIf="activeNav.id == 'tacos'"
                         style="height: 100%">
                        <div class="tacolistwrap">
                            <div class="title">Your Tacos</div>
                            <div #tacolist class="tacolist">
                                <taco-list></taco-list>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="activeNav.id == 'stats'"></div>
                    <div *ngIf="activeNav.id == 'add'"
                         style="height: 100%">
                        <add-taco></add-taco>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>