.msgcover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.msgcover > .waiting {
    font-size: 28px;
    max-height: 200px;
}

.msgcover > .waiting img {
    width: 50px;
    height: 50px;
}

.msgcover > div {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: whitesmoke;
    text-align: center;
    display: table;
    padding: 20px;
}

.full {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

add-taco {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 600px;
    transform: translate(-50%, -50%);
    display: block;
    height: 100%;
    box-shadow: #808080 4px 4px 13px 6px;
}

.tacolistwrap {
    position: relative;
    left: 50%;
    max-width: 600px;
    height: 100%;
    transform: translateX(-50%);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.tacolistwrap .title {
    font-size: 35px;
    text-align: center;
    border: 1px solid black;
    border-top-width: 0;
}

.tacolist {
    height: 100%;
    overflow: auto;
}

taco-list {
    display: block;
    height: 100%;
}

.tcell {
    display: table-cell;
    vertical-align: middle;
}

.wrap {
    overflow: hidden;
}

.maintbl {
    border-collapse: collapse;
}

.header {
    width: 100%;
    height: 100%;
    background: linear-gradient(#abd5ff, #8888ff);
    display: flex;
    flex-wrap: wrap;
}

.header .btnwrap {
    display: inline-block;
    height: 70px;
}

.header .navbtns {
    display: inline-block;
    height: 70px;
}

.header .node {
    height: 100%;
    display: inline-table;
    cursor: pointer;
    width: 100px;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 18px;
}

.header .node.first {

}

.header .node:hover {
    background: #4c4cff;
}

.header .node.selected {
    background: #4c4cff;
}

.header .title {
    font-size: 30px;
}

.header .buttons {
    display: inline-block;
}