<div class="wrap full">
    <table class="maintbl full" cellpadding="0">
        <tr>
            <td height="1px">
                <div class="header">
                    <img [src]="images.banner">
                    <div class="btnwrap">
                        <div class="navbtns">
                            <div *ngFor="let nav of navopts"
                                 class="node"
                                 [class.first]="navopts.indexOf(nav) == 0"
                                 [class.selected]="activeNav == nav"
                                 (click)="setNav(nav)">
                                <div class="tcell">{{nav.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" style="position: relative">
                <div class="full">
                    <div *ngIf="activeNav.id == 'tacos'"
                         style="height: 100%">
                        <div class="tacolistwrap">
                            <div class="title">Your Tacos</div>
                            <div #tacolist class="tacolist">
                                <taco-list></taco-list>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="activeNav.id == 'add'"
                         style="height: 100%">
                        <add-taco></add-taco>
                    </div>
                    <div *ngIf="activeNav.id == 'about'">
                        <div class="aboutwrap">
                            This is Robert Pooley's submission to Question 3 of ClickTime's 2018 summer internship coding exercise.<br>
                            URL: <a href="http://clicktime.com/ctc/devintern2018summer.html" target="_blank">http://clicktime.com/ctc/devintern2018summer.html</a>
                            <br><br>
                            GitHub Repo: <a href="https://github.com/rcpooley/ClickTime-TacoAssembly" target="_blank">https://github.com/rcpooley/ClickTime-TacoAssembly</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="activeMsg != 'clear'" class="msgcover">
    <div *ngIf="activeMsg == 'waiting'" class="waiting">
        <div class="tcell">
            Loading Ingredients..<br>
            <img src="assets/images/loading.gif">
        </div>
    </div>
</div>