.taco-list {
    width: 100%;
    border: 1px solid black;
    border-top-width: 0;
}

.taco-list tr {
    border-bottom: 1px solid black;
}

.taco-list td:not(:last-child) {
    border-right: 1px solid black;
}

.buttonswrap {
    border: 1px solid black;
    border-top-width: 0;
}

.buttons {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
}

.buttons .btn {
    margin: 10px;
    background: lightgrey;
}

.buttons .btn:hover {
    background: #909090;
}

.buttons .btn:last-child {
    float: right;
}